@charset "UTF-8";

/* 공통 */
#wrap{overflow-x: hidden;}
.border{display: block; margin: 30px 0; height: 1px; background-color: #ccc;}

.infoText{padding: 10px 20px; background-color: #F8FCFF; border: 1px solid #CFE8FB; border-radius: 10px;}
.infoText h4::before{content: ''; flex-shrink: 0; width: 14px; height: 14px; background: url(../images/sub/info_icon.svg)no-repeat center;}
.infoText h4{display: flex; align-items: center; gap: 0 4px; margin-bottom: 7px; font-weight: 500; font-size: 16px; color: #1D439C;}
.infoText .dotList li{font-size: 14px; font-weight: 500; color: #333;}

/* 공통 - 단계 영역  */
.stepList{max-width: 640px; position:relative; margin: 0 auto; display:flex; align-items:flex-start; justify-content:space-between;}
.stepList::before{content:""; position:absolute; top:50%; left:60px; right:60px;
    height:4px; border-radius:2px; background-color:#ccc; transform:translateY(-50%); z-index:0;}
.stepList li{position:relative; flex:0 0 120px; width:120px; text-align:center; z-index:1;}
.stepList li .stepNumber{margin-bottom:6px; display:block; font-size:15px; font-weight:700; color:#666;}
.stepList li .stepImgBox{margin:0 auto 6px; display:flex; align-items:center; justify-content:center; width:80px; height:80px; border-radius:50%; background-color:#fff; border: 1px solid #ccc;}
.stepList li .stepImgBox img{display:block;}
.stepList li .stepTitle{display:block; font-size:15px; font-weight:500; color:#666; word-break: keep-all;}
.stepList li.active .stepNumber,
.stepList li.active .stepTitle{color:#2773ff; font-weight: 700;}
.stepList li.active .stepImgBox{background-color:#2773ff; border-color: #2773ff;}

@media (max-width: 1024px){

  .stepList{padding:18px 24px; border-radius:16px;}
  .stepList::before{top:78px; left:50px; right:50px; height:3px;}
  .stepList li{flex:0 0 100px; width:100px;}
  .stepList li .stepNumber{margin-bottom:5px; font-size:14px;}
  .stepList li .stepImgBox{margin-bottom:5px; width:70px; height:70px;}
  .stepList li .stepTitle{font-size:14px;}
  .stepList li .stepImgBox img{width: 45px;}

}

@media (max-width: 768px){

  .stepList{margin-bottom:20px; padding:16px 10px; border-radius:14px;}
  .stepList::before{top:65px; left:36px; right:36px; height:3px;}
  .stepList li{flex:0 0 72px; width:72px;}
  .stepList li .stepNumber{margin-bottom:4px; font-size:12px;}
  .stepList li .stepImgBox{margin-bottom:4px; width:56px; height:56px;}
  .stepList li .stepImgBox img{width: 35px;}
  .stepList li .stepTitle{font-size:12px; line-height:1.3;}

}

@media (max-width:480px){

  .stepList{padding:14px 8px; border-radius:12px;}
  .stepList::before{top:59px; left:32px; right:32px;}
  .stepList li{flex-basis:64px; width:64px;}
  .stepList li .stepNumber{font-size:11px;}
  .stepList li .stepImgBox{width:52px; height:52px;}
  .stepList li .stepTitle{font-size:11px;}
  .stepList li .stepIbordergBox img{width: 27px;}

}

/* 공통 - 완료메세지 */
.completeMessageBox{display: flex; flex-direction: column; align-items: center;  padding: 26px 20px 54px; margin-bottom: 30px; background-color: #EDF2FF; border-radius: 20px; text-align: center;}
.completeMessageBox::before{content: ''; margin-bottom: 15px; width: 78px; height: 83px; background: url(../images/sub/complete_icon.svg)no-repeat center / contain;}
.completeMessageBox .completeMessageTitle{font-size: 30px; font-weight: 500; color: #333; font-family: 'HD',sans-serif;}
.completeMessageBox .completeMessageTitle strong{color: #2773FF; font-weight: 500;}
.completeMessageBox .completeMessageDes{font-size: 16px; font-weight: 500; font-family: 'HD',sans-serif; color: #333;}
.completeMessageBox .completeMessageDes strong{color: #1D439C; font-weight: 500;}

@media (max-width: 1199px){

  .completeMessageBox{padding: 26px 20px 42px;}
  .completeMessageBox .completeMessageTitle{font-size: 26px;}

}

@media (max-width: 768px){

  .completeMessageBox{padding: 26px 20px 36px; border-radius: 10px;}
  .completeMessageBox::before{width: 70px; height: 74px; margin-bottom: 10px;}
  .completeMessageBox .completeMessageTitle{font-size: 22px;}

}

@media (max-width: 480px){

  .completeMessageBox{padding: 26px 20px 30px;}
  .completeMessageBox::before{width: 70px; height: 74px;}
  .completeMessageBox .completeMessageTitle{font-size: 18px;}

}

/* 공통 - 달력 */
#ui-datepicker-div {max-width: 285px; width: 100%; padding: 16px; border: 1px solid #eee;
  border-radius: var(--radius-m); background: #F4F4F4; box-shadow: 0 0 20px rgba(0,0,0, .25); z-index: 9999 !important; border-radius: 20px;}
#ui-datepicker-div .ui-datepicker-year,
#ui-datepicker-div .ui-datepicker-month {width: 72px; height: 32px; padding: 0 8px;
  border-radius:8px; border: 0; background-color:#fff; font-size: 14px; font-weight:700; color: #1B1D1F; cursor: pointer;}
#ui-datepicker-div .ui-datepicker-header {padding: 0; position: relative; margin-bottom: 16px; border: 0; background: transparent;}
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {position: absolute; top: 0; width: 32px; height: 32px;
  border-radius: 50%; background-color: var(--white); cursor: pointer;}
#ui-datepicker-div .ui-datepicker-prev {left: 0;}
#ui-datepicker-div .ui-datepicker-next {right: 0;}
#ui-datepicker-div .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-next span {display: none;}
#ui-datepicker-div .ui-corner-all:hover{border: 0;}
#ui-datepicker-div .ui-corner-all::before{content: '';}
#ui-datepicker-div .ui-datepicker-prev::before {background: url(../images/sub/arrow.svg)no-repeat center;}
#ui-datepicker-div .ui-datepicker-next::before {transform: rotate(180deg);
  background: url(../images/sub/arrow.svg)no-repeat center;}
.ui-datepicker .ui-datepicker-title{display: flex; align-items: center; justify-content: center; gap: 0 4px; margin: 0!important; line-height: 1!important;}
#ui-datepicker-div .ui-datepicker-prev::before,
#ui-datepicker-div .ui-datepicker-next::before {display: flex; align-items: center; justify-content: center; height: 100%;
  font-size: 24px; color: var(--gray-900);}
#ui-datepicker-div .ui-datepicker-calendar{display: block; margin-bottom: 8px; padding-bottom: 16px; width: 100%; border-bottom: 1px solid #eee;}
#ui-datepicker-div .ui-datepicker-calendar th{padding: 0 0 8px; width: 32px; height: 32px; font-weight: 700; font-size: 12px; color: #454C53;}
#ui-datepicker-div .ui-datepicker-calendar td{padding: 2px;}
#ui-datepicker-div .ui-datepicker-calendar td a {display: flex; align-items: center; justify-content: center;
  width: 32px; height: 32px; color: #454C53; border-radius: 8px; font-weight: 500;
  background-color: #ffff; border-radius: 4px; border: 0; font-size: 14px;}
#ui-datepicker-div .ui-datepicker-calendar td a:hover {background: #ddd;}
#ui-datepicker-div .ui-datepicker-current-day a,
#ui-datepicker-div .ui-state-active {background: #365BD3!important; color: #fff !important; font-weight: 700;}
#ui-datepicker-div .ui-state-disabled span {padding: 0; text-align: center; font-size: 14px; font-weight: 500; color: #9EA4AA; border: 0;}
#ui-datepicker-div .ui-datepicker-close{padding: 0; margin: 0; border: 0;  display: flex; align-items: center; justify-content: center; width: 64px; height: 28px; border-radius: 8px; background-color: #fff; font-weight: 700; color: #454C53; font-size: 14px;}
.ui-datepicker .ui-datepicker-buttonpane{border: 0;}
#ui-datepicker-div .ui-datepicker-current {display: none;}

/* 공통 - 레이아웃 */
.commonBorderBox{padding: 24px; border: 1px solid #eee; border-radius: 20px; }
.formRowBox{display: flex; gap: 0 14px;}
.formRowBox .formBox{flex: 1;}

@media (max-width: 768px){

  .commonBorderBox{padding: 20px; border-radius: 10px;}

  .formRowBox{flex-direction: column; gap: 0;}

}

/* 공통 - 폼 */
label{display: block; font-size: 14px; color: #333;}
.requiredMark{color: #FF443D;}
input{display: block; width: 100%; padding: 0 10px; height: 40px; border-radius: 10px; background-color: #F4F4F4; color: #333; border: 0;}
input[type="checkbox"] + label{display: flex; align-items: center; gap: 0 8px; color: #333; font-weight: 500; font-size: 14px; cursor: pointer;}
input[type="checkbox"] + label::before{content: ''; width: 22px; height: 22px; background: url(../images/sub/check_icon.svg)no-repeat center / contain;}
input[type="checkbox"]:checked + label::before{content: ''; background: url(../images/sub/check_icon02.svg)no-repeat center / contain;}
input[type="checkbox"]:checked + label{font-weight: 700;}
.formBox{margin-bottom: 30px;}
.formBox label{margin-bottom: 8px;}

/* 공통 - 버튼 */
.commonBtnBox.verticalBtnBox{flex-direction:column; gap:14px 0;}
.commonBtnBox.verticalBtnBox .commonBtn{flex:none; width:100%; max-width:none;}
.commonBtnBox{display:flex; align-items:center; justify-content:center; gap:0 14px;}
.commonBtnBox .commonBtn{flex:1; max-width:220px;}
.commonBtn{display:inline-flex; align-items:center; justify-content:center; min-height:60px; padding:10px; border:1px solid transparent; border-radius:20px;font-size:16px; font-weight:700; transition: all .3s;}
.commonBtn.primaryBtn{color:#fff; border-color:#1d439c; background-color:#1d439c;}
.commonBtn.primaryBtn:hover{border-color:#153577; background-color:#153577;}
.commonBtn.borderBtn{color:#1d439c; border-color:#1d439c; background-color:#fff;}
.commonBtn.borderBtn:hover{background-color:#f2f5fc;}
.commonBtn:disabled{opacity:.5; cursor:default;}

@media (max-width: 480px){

  .commonBtn{min-height: 56px; border-radius: 10px;}

}

/* 공통 - 제목 */
.commonTitle01{margin: 80px 0 60px; color: #333; font-size: 32px; font-weight: 700; font-family: "HD", sans-serif;}

@media (max-width: 1199px){

  .commonTitle01{margin: 70px 0 50px; font-size: 26px;}

}

@media (max-width: 768px){

  .commonTitle01{margin: 50px 0 30px; font-size: 22px;}

}

@media (max-width: 480px){

  .commonTitle01{margin: 30px 0; font-size: 20px;}

}

/* 공통 - 탭 */
.commonTab{padding: 0 20px; margin-bottom: 100px; display: flex; justify-content: center; flex-wrap: wrap; gap:8px;}
.commonTab .commonTabBtn{min-width: 150px; padding: 10px; border: 1px solid #ccc; border-radius: 8px; font-weight: 500; color: #333;}
.commonTab .commonTabBtn.active{border: 1px solid #1D439C; background-color: #EDF2FF; color: #1D439C; font-weight: 700;}

@media (max-width: 768px){

  .commonTab{margin-bottom: 60px;}

}

/* 공통 - 리스트 */
.dotList li{margin-bottom: 6px; display: flex; color: #333; font-weight: 500; text-align: left;}
.dotList li:last-child{margin-bottom: 0;}
.dotList li::before{content: ''; flex-shrink: 0; margin: 10px; width: 3px; height: 3px; background-color: #333; border-radius: 50%;}

@media (max-width: 480px){

  .dotList li{margin-bottom: 0; font-size: 14px;}
  .dotList li::before{margin: 8px;}

}

/* 공통 - 테이블 */
.commonTable{width: 100%;}
.commonTable thead tr th{height: 40px; background-color: #1D439C; color: #fff; font-weight: 500; border: 1px solid #1D439C;}
.commonTable tbody tr td{padding: 20px 14px; border: 1px solid #bbb; font-weight: 500; color: #333; text-align: center;}

@media (max-width: 768px){

  .tableScrollBox{overflow-x: auto;}
  .tableScrollBox table{width: 768px;}

}

@media (max-width: 480px){

  .commonTable thead tr th,
  .commonTable tbody tr td{font-size: 14px;}

}

/* 가운데영역 */
.container{max-width: 1240px;}

/* 서브 상단 제목 영역 */
#subTitleWrap{position: relative; height: 280px;}
#subTitleWrap .subVisualBox{position: absolute; top:0; left:0; right:0; bottom: 0;}
#subTitleWrap .subVisualBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
#subTitleWrap h2{position: absolute; left: 50%; transform: translateX(-50%); top:89px;}
#subTitleWrap h2 em{display: inline-block; font-weight: 700; color: #fff; font-size: 40px; animation: fadeEffect 1.5s .3s both;}
#subTitleWrap h2 em:nth-child(1){animation-delay: .1s;}
#subTitleWrap h2 em:nth-child(2){animation-delay: .2s;}
#subTitleWrap h2 em:nth-child(3){animation-delay: .3s;}
#subTitleWrap h2 em:nth-child(4){animation-delay: .4s;}
#subTitleWrap h2 em:nth-child(5){animation-delay: .5s;}
#subTitleWrap h2 em:nth-child(6){animation-delay: .6s;}
#subTitleWrap h2 em:nth-child(7){animation-delay: .7s;}
#subTitleWrap h2 em:nth-child(8){animation-delay: .8s;}
#subTitleWrap .subNavBox{max-width: 960px; width: 100%; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}
#subTitleWrap .subNav ul{display: flex; align-items: center; justify-content: center;}
#subTitleWrap .subNav ul li{  flex: 1;
    min-width: 0; margin-right: -1px;}
#subTitleWrap .subNav ul li a{display: flex; align-items: center; justify-content: center; padding: 0 10px; min-width: 160px; height: 70px; font-size: 20px; font-weight: 500; color: #fff; border: 1px solid #fff; background-color: rgba(255,255,255, .2);}
#subTitleWrap .subNav ul li a.active{background-color: #fff; color: #1D439C; font-weight: 700;}
#subTitleWrap .subNav ul li:first-child a{border-radius: 20px 0 0 0;}
#subTitleWrap .subNav ul li:last-child a{border-radius: 0 20px 0 0;}

@media (max-width: 1199px){

  #subTitleWrap h2 em{font-size: 34px;}
  #subTitleWrap .subNav ul li a{height: 57px; font-size: 18px;}

}

@media (max-width: 1024px){

  #subTitleWrap .subNavBox{overflow-x: auto;}
  #subTitleWrap .subNav{width: 1024px;}
  #subTitleWrap .subNav ul li:first-child a{border-radius: 0;}
  #subTitleWrap .subNav ul{justify-content: flex-start;}
  #subTitleWrap .subNav ul li a{height: 50px; font-size: 16px;}

}

@media (max-width: 768px){

  #subTitleWrap h2{top: 95px;}
  #subTitleWrap h2 em{font-size: 30px;}
  #subTitleWrap .subNav ul li a{min-width: 140px; height: 45px; font-size: 16px;}

}

@media (max-width: 480px){

  #subTitleWrap{height: 232px;}
  #subTitleWrap h2{top: 80px;}
  #subTitleWrap h2 em{font-size: 24px;}
  #subTitleWrap .subNav ul li a{height: 50px; font-size: 16px;}

}

/* 서브 콘텐츠 레이아웃 영역 */
#subContentWrap{padding: 120px 0;}
#subContentWrap .subContentHeaderBox{margin-bottom: 60px; }
#subContentWrap .subContentHeader{display: flex; align-items: center; justify-content: space-between;}
#subContentWrap .subContentHeader h2{font-weight: 700; font-size: 32px; color: #333; font-family: "HD", sans-serif;}
#subContentWrap .subContentHeader .breadcrumbBox{display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 7px 0; padding: 6px 18px; background-color: #F4F4F4; border-radius: 50px;}
#subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink{display: flex; align-items: center; font-weight: 500; color: #333; word-break: keep-all;}
#subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink img{display: block;}
#subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink.active{font-weight: 700; color: #1D439C;}
#subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink::before{content: '';
 width: 8px; height: 12px; margin: 0 12px; background: url(../images/sub/arrow_icon01.svg)no-repeat center / contain;}
#subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink:first-child::before{  display: none;}

@media (max-width: 1199px){

  #subContentWrap .subContentHeader{flex-direction: column; gap: 10px 0;}
  #subContentWrap .subContentHeader h2{font-size: 30px;}

}

@media (max-width: 768px){

  #subContentWrap{padding: 100px 0;}

}

@media (max-width: 480px){

  #subContentWrap .subContentHeaderBox{margin-bottom: 46px;}
  #subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink{font-size: 13px;}
  #subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink img{width: 18px;}
  #subContentWrap .subContentHeader h2{font-size: 24px;}
  #subContentWrap .subContentHeader .breadcrumbBox .breadcrumbLink::before{width: 6px; height: 9px; margin: 0 10px;}

}

/* 인사말 */
.greetingWrap .greetingBox{display: flex; justify-content: space-between; gap: 60px; padding: 80px 60px; background-color: #fff; border-radius: 30px; border: 1px solid #eee; box-shadow: 0 0 30px rgba(13, 79, 201, 0.2);}
.greetingWrap .greetingTitle{margin-bottom: 22px; font-size: 30px; font-weight: 500; color: #333; font-family: "HD", sans-serif; word-break: keep-all;} 
.greetingWrap .greetingTitle strong{color:#1D439C;}
.greetingWrap .greetingText01{margin-bottom: 30px; font-size: 24px; font-weight: 500; color: #333;}
.greetingWrap .greetingText02{color: #444;}
.greetingWrap .greetingLogoBox{margin-bottom: 26px;}
.greetingWrap .greetingImgBox{flex-shrink: 0;padding-top: 18px;}
.greetingWrap .greetingImgBox .greetingProfileImgBox{margin-bottom: 33px; }
.greetingWrap .greetingImgBox img{display: block; max-width: 100%; margin: 0 auto;} 
.greetingWrap .greetingDirectorInfo{display: flex; align-items: center; justify-content: center; gap:0 15px; font-size: 16px; font-weight: 500; color: #444; font-family: "HD", sans-serif;}
.greetingWrap .greetingDirectorInfo .greetingDirectorName{font-size: 24px;}

@media (max-width: 1199px){

  .greetingWrap .greetingBox{padding: 60px;}
  .greetingWrap .greetingTitle{font-size: 26px;}
  .greetingWrap .greetingText01{font-size: 20px;}

}

@media (max-width: 1024px){
  
  .greetingWrap .greetingBox{flex-direction: column;}
  
}

@media(max-width: 768px){

  .greetingWrap .greetingBox{padding: 50px 20px; border-radius: 20px;}
  .greetingWrap .greetingTitle{font-size: 24px;}
  .greetingWrap .greetingText01{font-size: 18px;}
  .greetingWrap .greetingDirectorInfo .greetingDirectorName{font-size: 22px;}

}

@media(max-width: 480px){

  .greetingWrap .greetingBox{gap: 40px 0;}
  .greetingWrap .greetingTitle{font-size: 20px;}
  .greetingWrap .greetingText01{margin-bottom: 22px; font-size: 16px;}
  .greetingWrap .greetingDirectorInfo .greetingDirectorName{font-size: 20px;}
  .greetingWrap .greetingText02{font-size: 15px;}

}

/* 조직도 */
.organizationChartWrap .organizationChartNode{margin: 0 auto 67px; max-width: 200px; height: 80px;  border: 8px solid #fff; border-radius: 10px;}
.organizationChartWrap .organizationChartLabel{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 20px; font-weight: 500; color: #fff; border-radius: 10px;}
.organizationChartWrap .organizationChartList01{position: relative; margin-bottom: 222px;}
.organizationChartWrap .organizationChartList01::after{content:''; width: 1px; position: absolute; left: 50%; top:0; bottom: 154px; background-color: #ddd; z-index: -1;}
.organizationChartWrap .organizationChartList01 > li > .organizationChartNode{box-shadow: 0 0 10px 4px rgba(0, 169, 79, 0.2); border-radius: 50px;}
.organizationChartWrap .organizationChartList01 > li > .organizationChartNode > span{background-color: #00A94F;  border-radius: 50px;}
.organizationChartWrap .organizationChartList02 > li > .organizationChartNode{box-shadow: 0 0 20px 4px rgba(0, 139, 239, 0.2); max-width: 140px;}
.organizationChartWrap .organizationChartList02 > li > .organizationChartNode > span{background-color: #2773FF; border-radius: 10px;}
.organizationChartWrap .organizationChartList03 > li > .organizationChartNode{margin-bottom: 92px; box-shadow: 0 0 20px 4px rgba(0, 139, 239, 0.2);}
.organizationChartWrap .organizationChartList03 > li > .organizationChartNode > span{background-color: #1D429B; }
.organizationChartWrap .organizationChartList04{padding-top: 90px; position: relative; display: flex;  justify-content: center; gap: 0 33px;}
.organizationChartWrap .organizationChartList04 > li + li::before{content: ""; position: absolute;
  top: -90px; right: 50%; width: 100%; height: 1px; padding-left: 33px; background-color: #ddd;
  z-index: -1;}  
.organizationChartWrap .organizationChartList04 li{padding: 0 10px; position: relative; display: flex; align-items: center; justify-content: center; flex: 1 1 0;   min-width: 0;
  max-width: 200px; width: 100%; height: 64px; border-radius: 10px; font-size: 20px; font-weight: 500; color: #333; background-color: #fff; text-align: center; }
.organizationChartWrap .organizationChartList04 li::after{content: ''; position: absolute;
    top: -90px; left: 50%; bottom: 0; width: 1px; background-color: #ddd; z-index: -1;}
.organizationChartWrap .organizationChartList04 li.orgUnit01{box-shadow: 0 0 20px 5px rgba(0, 139, 239, 0.2);}
.organizationChartWrap .organizationChartList04 li.orgUnit02{box-shadow: 0 0 20px 5px rgba(151, 118, 65, 0.2);}
.organizationChartWrap .organizationChartList04 li.orgUnit03{box-shadow: 0 0 20px 5px rgba(245, 118, 146, 0.2);}
.organizationChartWrap .organizationChartList04 li.orgUnit04{box-shadow: 0 0 20px 5px rgba(179, 100, 206, 0.2);}
.organizationChartWrap .organizationChartList04 li.orgUnit05{box-shadow: 0 0 20px 5px rgba(74, 175, 121, 0.2);}

.organizationChartWrap .tableWrap{max-width: 910px; margin: 0 auto 80px;}
.organizationChartWrap .tableWrap .tableTitle{margin-bottom: 24px; display: flex; align-items: center; justify-content: center; height: 56px; padding: 0 20px; font-size: 20px; font-weight: 500; color: #333; border-radius: 10px;}
.organizationChartWrap .tableWrap .tableTitle.researchSupport{border: 1px solid #2773FF; box-shadow: 0 0 20px rgba(0, 139, 239, 0.2);}
.organizationChartWrap .tableWrap .tableTitle.clinicalTrial{border: 1px solid #977641; box-shadow: 0 0 20px rgba(151, 118, 65, 0.2);}
.organizationChartWrap .tableWrap .tableTitle.researchProtection{border: 1px solid #F57692; box-shadow: 0 0 20px rgba(245, 118, 146, 0.2);}
.organizationChartWrap .tableWrap .tableTitle.bioresourceBank{border: 1px solid #B364CE; box-shadow: 0 0 20px rgba(179, 100, 206, 0.2);}
.organizationChartWrap .tableWrap .tableTitle.advancedResearchSupport{border: 1px solid #4AAF79; box-shadow: 0 0 20px rgba(74, 175, 121, 0.2);}
.organizationChartWrap .tableWrap .tableLogoBox{margin-bottom: 5px;}
.organizationChartWrap .tableWrap .tableLogoBox img{display: block; max-width: 100%;}

@media (max-width: 1199px) {

  .organizationChartWrap .organizationChartList01 {margin-bottom: 80px;}
  .organizationChartWrap .organizationChartList04{gap: 0 20px;}
  .organizationChartWrap
  .organizationChartList04 > li + li::before { padding-left: 20px;}
  .organizationChartWrap
  .organizationChartList04 li{max-width: 170px; font-size: 18px;}

  .organizationChartWrap .tableWrap{max-width: none;}
  .organizationChartWrap .tableWrap .tableTitle{height: 48px; font-size: 18px;}

}

@media (max-width: 768px) {

  .organizationChartWrap .organizationChartList03 > li > .organizationChartNode{margin-bottom: 26px;}
  .organizationChartWrap .organizationChartNode {max-width: 180px; height: 70px; margin-bottom: 50px;
    border-width: 6px; }
  .organizationChartWrap .organizationChartLabel {font-size: 18px;}
  .organizationChartWrap
  .organizationChartList01::after{bottom: 30px;}
  .organizationChartWrap.organizationChartList03 > li > .organizationChartNode{margin-bottom: 0;}
  .organizationChartWrap .organizationChartList04 {flex-direction: column; align-items: center;
    gap: 18px 0; width: 100%; padding-top: 50px;}
  .organizationChartWrap .organizationChartList04 li {flex: none; width: 100%; max-width: 280px;  height: 60px;font-size: 16px;}
  .organizationChartWrap .organizationChartList04 > li + li::before,
  .organizationChartWrap .organizationChartList04 li::after {content: none;}

  .organizationChartWrap .tableWrap .tableTitle{height: 42px; font-size: 16px;}

}

/* 오시는 길 */
.locationWrap .locationMapBox{margin-bottom: 40px; height: 710px; border-radius: 30px; overflow: hidden; box-shadow: 0 0 20px rgba(0,0,0,.2); border: 1px solid #bbb;}
.locationWrap .locationMapBox iframe{width: 100%; height: 100%;}
.locationWrap .locationInfo{padding: 14px 30px; display: flex; align-items: center; gap: 20px 40px; border: 1px solid #bbb; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); border-radius: 10px;}
.locationWrap .locationInfo .locationInfoLabel{flex-shrink: 0; font-size: 20px; font-weight: 700; color: #333;}
.locationWrap .locationInfo .locationInfoValue{font-size: 20px; font-weight: 500; color: #333;} 

@media (max-width: 1199px){

  .locationWrap .locationMapBox{height: 500px; border-radius: 20px;}
  .locationWrap .locationInfo .locationInfoLabel,
  .locationWrap .locationInfo .locationInfoValue{font-size: 18px;}

}

@media (max-width: 768px){

  .locationWrap .locationMapBox{height: 360px; border-radius: 10px;}
  .locationWrap .locationInfo .locationInfoLabel,
  .locationWrap .locationInfo .locationInfoValue{font-size: 16px;}
  .locationWrap .locationInfo{gap: 20px 30px;}

}

/* 통합예약·신청 - 장비예약 */
.reservationWrap .equipmentTitle{margin-bottom: 20px; padding: 15px 10px 15px 24px; font-size: 20px; font-weight: 700; color: #1D439C; background-color: #EDF2FF;}

/* 장비예약 공통 */
.commonShadowBox{margin-bottom: 30px; padding: 40px 40px 30px;
    border-radius: 20px; border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 139, 239, 0.2); background-color: #fff;}
.commonTitle{margin-bottom: 20px; font-size: 20px; font-weight: 500; color: #333; font-family: "HD", sans-serif;}
.reservationWrap .commonLayoutBox{display: flex; gap: 30px;}
.reservationWrap .commonRightBox{flex-shrink: 1; width: 360px;}
.reservationWrap .commonLeftBox{flex: 1;}
.reservationWrap .equipmentStepList{position:relative; margin-bottom:30px; padding:22px 38px; display:flex; align-items:flex-start; justify-content:space-between; border-radius:20px; background-color:#f4f4f4; isolation:isolate;}
.reservationWrap .equipmentStepList::before{content:""; position:absolute; top:89px; left:60px; right:60px; height:4px; border-radius:2px; background-color:#ccc; transform:translateY(-50%); z-index:0;}
.reservationWrap .equipmentStepList.step02:has(> li:nth-child(3):last-child)::before{background:linear-gradient(to right, #2773ff 0, #2773ff 50%, #ccc 50%, #ccc 100%);}
.reservationWrap .equipmentStepList.step03:has(> li:nth-child(3):last-child)::before{background:linear-gradient(to right, #666 0, #666 50%, #2773ff 50%, #2773ff 100%);}
.reservationWrap .equipmentStepList.step02:has(> li:nth-child(4):last-child)::before{background:linear-gradient(to right, #2773ff 0, #2773ff 33.333%, #ccc 33.333%, #ccc 100%);}
.reservationWrap .equipmentStepList.step03:has(> li:nth-child(4):last-child)::before{background:linear-gradient(to right, #666 0, #666 33.333%, #2773ff 33.333%, #2773ff 66.666%, #ccc 66.666%, #ccc 100%);}
.reservationWrap .equipmentStepList.step04:has(> li:nth-child(4):last-child)::before{background:linear-gradient(to right, #666 0, #666 66.666%, #2773ff 66.666%, #2773ff 100%);}
.reservationWrap .equipmentStepList li{position:relative; flex:0 0 120px; width:120px; text-align:center; z-index:1;}
.reservationWrap .equipmentStepList li .equipmentStepNumber{margin-bottom:6px; display:block; font-size:15px; font-weight:700; color:#666;}
.reservationWrap .equipmentStepList li .equipmentStepImgBox{margin:0 auto 6px; display:flex; align-items:center; justify-content:center; width:80px; height:80px; border-radius:50%; background-color:#fff;}
.reservationWrap .equipmentStepList li .equipmentStepImgBox img{display:block;}
.reservationWrap .equipmentStepList li .equipmentStepTitle{display:block; font-size:15px; font-weight:500; color:#666; word-break:keep-all;}
.reservationWrap .equipmentStepList li.active .equipmentStepNumber,
.reservationWrap .equipmentStepList li.active .equipmentStepTitle{color:#2773ff;}
.reservationWrap .equipmentStepList li.active .equipmentStepImgBox{background-color:#2773ff;}
.reservationTimeInfoBox{padding: 23px 20px 20px;}
.reservationTimeInfoBox  .commonTitle{padding-bottom: 20px; text-align: center; border-bottom: 1px solid #ccc;}
.reservationTimeInfoBox .reservationTimeInfoImgBox{margin-bottom: 20px; padding-bottom: 40px; border-bottom: 1px solid #ccc;}
.reservationTimeInfoBox .reservationTimeInfoImgBox img{display: block; max-width: 100%; margin: 0 auto;}
.reservationWrap .reservationTimeInfoTitBox{margin-bottom: 40px; text-align: center;}
.reservationWrap .reservationTimeInfoTitBox .reservationDepartment{padding: 2px 8px; display: inline-block; margin-bottom: 10px; background-color: #2773FF; color: #fff; border-radius: 8px; font-size: 14px; font-weight: 500;}
.reservationWrap .reservationTimeInfoTitBox .reservationName{font-size: 18px; font-weight: 700; color: #333;}
.reservationWrap .reservationTimeInfoTitBox .reservationNameEn{font-size: 16px; font-weight: 500; color: #333;} 
.reservationWrap .reservationTimeInfo{ display: flex; align-items: center; justify-content: center; gap: 10px 18px;} 
.reservationWrap .reservationTimeInfo span{min-width: 112px; padding: 8px 5px; color: #fff; font-weight: 500; border-radius: 10px; text-align: center;}
.reservationWrap .reservationReservationDate{background-color: #365BD3;}
.reservationWrap .reservationReservationTime{background-color: #3DCD80;}

@media (max-width: 1199px) {
  
  .commonTitle{font-size: 18px;}

}

@media (max-width: 1024px){

  .reservationWrap .commonLayoutBox{flex-direction: column;}

  .reservationWrap .equipmentStepList{padding:18px 24px; border-radius:16px;}
  .reservationWrap .equipmentStepList::before{top:78px; left:50px; right:50px; height:3px;}
  .reservationWrap .equipmentStepList li{flex:0 0 100px; width:100px;}
  .reservationWrap .equipmentStepList li .equipmentStepNumber{margin-bottom:5px; font-size:14px;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox{margin-bottom:5px; width:70px; height:70px;}
  .reservationWrap .equipmentStepList li .equipmentStepTitle{font-size:14px;}

  .reservationWrap .commonRightBox{width: 100%;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox img{width: 45px;}

}

@media (max-width: 768px){

  .reservationWrap .equipmentStepList{margin-bottom:20px; padding:16px 10px; border-radius:14px;}
  .reservationWrap .equipmentStepList::before{top:65px; left:36px; right:36px; height:3px;}
  .reservationWrap .equipmentStepList li{flex:0 0 72px; width:72px;}
  .reservationWrap .equipmentStepList li .equipmentStepNumber{margin-bottom:4px; font-size:12px;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox{margin-bottom:4px; width:56px; height:56px;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox img{width: 35px;}
  .reservationWrap .equipmentStepList li .equipmentStepTitle{font-size:12px; line-height:1.3;}

}

@media (max-width: 576px) {

   .commonShadowBox{padding: 30px 20px;}

}

@media (max-width:480px){

  .reservationWrap .equipmentStepList{padding:14px 8px; border-radius:12px;}
  .reservationWrap .equipmentStepList::before{top:59px; left:32px; right:32px;}
  .reservationWrap .equipmentStepList li{flex-basis:64px; width:64px;}
  .reservationWrap .equipmentStepList li .equipmentStepNumber{font-size:11px;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox{width:52px; height:52px;}
  .reservationWrap .equipmentStepList li .equipmentStepTitle{font-size:11px;}
  .reservationWrap .equipmentStepList li .equipmentStepImgBox img{width: 27px;}

  .reservationWrap .reservationTimeInfo{flex-direction: column;}
  .reservationWrap .reservationTimeInfo span{width: 100%; min-width: auto;}

}
  
/* 예약 목록 */
.reservationWrap .equipmentReservationListBox{margin-bottom: 80px;}
.reservationWrap .equipmentReservationListBox:last-child{margin-bottom: 0;}
.reservationWrap .equipmentReservationList{display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;}
.reservationWrap .equipmentReservationList li a{display: block; border: 1px solid #ccc; border-radius: 10px; overflow: hidden;}
.reservationWrap .equipmentReservationList li a .equipmentImgBox{display: flex; align-items: center; justify-content: center; height: 220px; border-bottom: 1px solid #ccc; overflow: hidden;}
.reservationWrap .equipmentReservationList li a .equipmentImgBox img{display: block; max-width: 100%;  transition: all .5s;}
.reservationWrap .equipmentReservationList li a .equipmentTextBox{padding: 16px 10px 16px 24px; background-color: #1D439C;}
.reservationWrap .equipmentReservationList li a .equipmentTextBox h4{color: #fff; font-weight: 700;}
.reservationWrap .equipmentReservationList li a .equipmentTextBox span{display: block; font-weight: 500; color: #fff;}
.reservationWrap .equipmentReservationList li a:hover img{transform: scale(1.3);}

/* 예약 상세 */
.reservationWrap .equipmentDetailInfo{min-height: 250px; display: flex; align-items: center; justify-content: space-between; gap: 30px; padding: 40px; margin-bottom: 30px; border-radius: 20px; border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 139, 239, 0.2);}
.reservationWrap .equipmentDetailInfo .equipmentDepartment{display: inline-block; margin-bottom: 17px; padding: 7px 14px; color: #fff; font-weight: 700; background-color: #2773FF; border-radius: 8px;}
.reservationWrap .equipmentDetailInfo .equipmentName{font-weight: 700; font-size: 30px; color: #333;}
.reservationWrap .equipmentDetailInfo .nameEn{font-size: 20px; color: #333;}
.reservationWrap .equipmentDetailInfo .equipmentDetailImgBox img{display: block; max-width: 100%;}
.reservationWrap .reservationDetailTableWrap{padding: 40px; border-radius: 20px; border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 139, 239, 0.2);}
.reservationWrap .reservationDetailTableTitle{margin-bottom: 20px; font-size: 20px; font-weight: 500; color: #333;} 
.reservationWrap .reservationDetailSection.reservationDetailFileSection{padding: 24px; background-color: #F7F8F9; border-radius: 20px;}
.reservationWrap .reservationDetailSection{margin-bottom: 30px;}
.reservationWrap .reservationDetailSection :last-child{margin-bottom: 0;}
.reservationWrap .reservationDetailSection .dotList{margin: 0 0 30px;}
.reservationWrap .reservationDetailTable{width: 100%; table-layout:fixed;}
.reservationWrap .reservationDetailTable tbody td,
.reservationWrap .reservationDetailTable tbody th{padding: 12px 10px; font-size: 14px; color: #333; font-weight: 400; text-align: left; border: 1px solid #ccc; border-width: 1px 0;}
.reservationWrap .reservationDetailTable thead th,
.reservationWrap .reservationDetailTable tbody th{background-color: #F7F8F9;}
.reservationWrap .reservationDetailCalendarBox{margin-bottom: 30px; padding: 24px 22px;border: 1px solid #eee; box-shadow: 0 0 10px rgba(0,0,0,.2); border-radius: 30px;}
.reservationWrap .reservationDetailCalendar{margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #ccc;}
.reservationWrap .reservationDetailCalendar .calendarHeader{margin-bottom: 20px; display: flex; align-items: center; justify-content: center; gap: 0 20px;}
.reservationWrap .reservationDetailCalendar .calendarHeader h4{font-weight: 600; font-size: 18px; color: #333; font-weight: 500;}
.reservationWrap .reservationDetailCalendar .calendarHeader .calendarBtn{width: 5px; height: 10px; }
.reservationWrap .reservationDetailCalendar .calendarHeader .calendarBtn.calendarPrev{background: url(../images/sub/arrow_icon02.svg)no-repeat center / contain;}
.reservationWrap .reservationDetailCalendar .calendarHeader .calendarBtn.calendarNext{background: url(../images/sub/arrow_icon02.svg)no-repeat center / contain; transform: rotate(180deg);}
.reservationWrap .reservationDetailCalendar .calendarWeek{display: grid; grid-template-columns: repeat(7, minmax(0, 1fr)); overflow: hidden; border: 1px solid rgba(255, 255, 255, .8); border-width: 1px 0;}
.reservationWrap .reservationDetailCalendar .calendarWeek .week{margin: 0 auto; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; text-align: center; color: #666; font-size: 14px;}
.reservationWrap .reservationDetailCalendar .calendarGrid{display: grid; grid-template-columns: repeat(7, minmax(0, 1fr)); gap: 6px;}
.reservationWrap .reservationDetailCalendar .calendarGrid .calendarCell {display: flex; align-items: center; justify-content: center; height: 40px; border-bottom: 1px solid rgba(255, 255, 255, .8);}
.reservationWrap .reservationDetailCalendar .calendarGrid .calendarCell .dateBtn{width: 40px; height: 40px; border-radius: 8px; color: #666; font-size: 14px; background-color: #f4f4f4;}
.reservationWrap .reservationDetailCalendar .calendarGrid .calendarCell .dateBtn.disabled{cursor: default;}
.reservationWrap .reservationDetailCalendar .calendarGrid .calendarCell .dateBtn.active{color: #fff; background-color: #365BD3; font-weight: 700;}
.reservationWrap .reservationDetailTimeList{display: flex; flex-wrap: wrap; gap: 8px;}
.reservationWrap .reservationDetailTimeList .reservationTimeBtn{display: flex; align-items: center; justify-content: center; width: 70px; height: 40px; padding: 5px; border: 1px solid #ccc; border-radius: 8px; font-size: 14px; color: #333;}
.reservationWrap .reservationDetailTimeList .reservationTimeBtn:disabled{background-color: #F4F4F4; color: #666; font-size: 14px; cursor: default; pointer-events: none; border: 0;}

/* 예약 신청 */
.reservationWrap .fileUploadLabel{position: relative; width: 100%; height: 40px; padding: 10px 40px 10px 10px; display: flex; align-items: center; justify-content: space-between; border-radius: 10px;
    background-color: #f5f5f5;  cursor: pointer;}
.reservationWrap .fileUploadLabel img{position: absolute; top: 50%; transform: translateY(-50%); right:15px;}
.reservationWrap .reservationApplyBox .sampleOriginField legend{margin-bottom:8px; font-size:14px; color:#333;}
.reservationWrap .reservationApplyBox .sampleOriginContent{display:flex; align-items:center; gap:21px;}
.reservationWrap .reservationApplyBox .sampleRadioGroup{display:grid; grid-template-columns:repeat(2, 140px); gap:10px;}
.reservationWrap .reservationApplyBox .sampleRadio{position:relative;}
.reservationWrap .reservationApplyBox .sampleRadio input{position:absolute; width:1px; height:1px; overflow:hidden; clip:rect(0,0,0,0);}
.reservationWrap .reservationApplyBox .sampleRadio label{margin: 0; display:flex; align-items:center; justify-content:center; height:40px; border-radius:10px; color:#333; background-color:#f4f4f4; cursor:pointer; font-size: 14px;}
.reservationWrap .reservationApplyBox .sampleRadio input:checked + label{margin: 0; color:#fff; background-color:#1d439c;}
.reservationWrap .reservationApplyBox .sampleRadio input:focus-visible + label{outline:3px solid rgba(29,67,156,.25); outline-offset:2px;}
.reservationWrap .reservationApplyBox .sampleTypeBox{display:flex; align-items:center; gap:14px; flex:1;}
.reservationWrap .reservationApplyBox .sampleTypeBox label{margin: 0; flex-shrink:0; color:#bbb; font-size: 14px;}
.reservationWrap .reservationApplyBox .sampleTypeBox input:disabled{color:#999; background-color:#f4f4f4;}
.reservationWrap .reservationApplyBox .sampleTypeBox.active label{color: #333;}

/* 장비예약 완료 */
.reservationWrap .reservationCompleteBox .reservationInfoList{margin-bottom: 30px; padding: 20px 0 30px; border: 1px solid #ccc; border-width: 1px 0;}
.reservationWrap .reservationCompleteBox .reservationInfoItem{padding: 10px 10px 10px 0; display: flex; align-items: center;}
.reservationWrap .reservationCompleteBox .reservationInfoItem .downloadLink{font-size: 14px;
    color: #333; text-decoration: underline;}
.reservationWrap .reservationCompleteBox .reservationInfoItem .reservationTimeInfo{justify-content: flex-start;}
.reservationWrap .reservationCompleteBox .reservationInfoItem dt{width: 170px; flex-shrink: 0; font-size: 14px; font-weight: 500; color: #333;}
.reservationWrap .reservationCompleteBox .reservationInfoItem dd{font-size: 14px; color: #333;}
.reservationWrap .reservationCompleteBox .commonLeftBox .reservationTimeInfo{gap: 10px 8px;}
.reservationWrap .reservationInfoTextBox{padding: 10px 20px; background-color: #F8FCFF; border: 1px solid #CFE8FB; border-radius: 10px;}
.reservationWrap .reservationInfoTextBox h4::before{content: ''; flex-shrink: 0; width: 14px; height: 14px; background: url(../images/sub/info_icon.svg)no-repeat center;}
.reservationWrap .reservationInfoTextBox h4{display: flex; align-items: center; gap: 0 4px; margin-bottom: 7px; font-weight: 500; font-size: 16px; color: #1D439C;}
.reservationWrap .reservationInfoTextBox .dotList li{font-size: 14px; font-weight: 500; color: #333;}

/* 활성화 */
.reservationWrap .equipmentStepList li.active .equipmentStepNumber,
.reservationWrap .equipmentStepList li.active .equipmentStepTitle{color: #2773FF; font-weight: 700;}
.reservationWrap .equipmentStepList li.active .equipmentStepImgBox{background-color: #2773FF;}
.reservationWrap .equipmentStepList li + li.active::before{background-color: #2773FF;}

@media (max-width: 1199px){

  .reservationWrap .equipmentDetailInfo .equipmentDepartment{margin-bottom: 10px;}
  .reservationWrap .equipmentDetailInfo .equipmentName{font-size: 26px;}
  .reservationWrap .equipmentDetailInfo .nameEn{font-size: 18px;}

  .reservationWrap .reservationDetailTableTitle{font-size: 18px;}

}

@media (max-width: 1024px){

  .reservationWrap .equipmentReservationList{grid-template-columns: repeat(2, 1fr);}
  .reservationWrap .reservationDetailCalendar .calendarGrid .calendarCell .dateBtn{width: 100%; height: 100%;}

}

@media (max-width: 768px){

  .reservationWrap .equipmentReservationList{grid-template-columns: 1fr;}
  .reservationWrap .equipmentTitle{padding: 10px 20px; font-size: 18px;}

  .reservationWrap .equipmentDetailInfo .equipmentName{font-size: 24px;}
  .reservationWrap .equipmentDetailInfo .nameEn{font-size: 16px;}

  .reservationWrap .reservationDetailSection  .equipmentDetailTable colgroup{display:none;}
  .reservationWrap .reservationDetailSection  .equipmentDetailTable,
  .reservationWrap .reservationDetailSection  .equipmentDetailTable tbody{display:block; width:100%;}
  .reservationWrap .reservationDetailSection  .equipmentDetailTable tr{display:grid; grid-template-columns:120px 1fr; width:100%;}
    .reservationWrap .reservationDetailSection  .equipmentDetailTable th,
  .reservationWrap .reservationDetailSection  .equipmentDetailTable td{display:flex; align-items:center; width:auto; min-width:0; margin-bottom: -1px;} 
  .reservationWrap .reservationDetailSection  .equipmentDetailTable td{overflow-wrap:anywhere;}

  .reservationWrap .reservationDetailCalendarBox{border-radius: 20px;}
  .reservationWrap .reservationDetailCalendar .calendarHeader{margin-bottom: 15px;}

  .reservationWrap.reservationApplyBox .sampleOriginContent{align-items:stretch; flex-direction:column;}
  .reservationWrap.reservationApplyBox .sampleRadioGroup{grid-template-columns:repeat(2,1fr);}
  .reservationWrap.reservationApplyBox .sampleTypeBox{width:100%;}
  .reservationWrap .reservationApplyBox .sampleOriginContent{flex-direction: column; align-items: flex-start;}
  .reservationWrap .reservationApplyBox .sampleTypeBox{width: 100%;}

  
  .reservationWrap .reservationCompleteBox .reservationInfoList{margin-bottom:24px; padding-bottom:24px;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem{padding:9px 0; align-items:flex-start;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem dt{width:140px;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem dd{flex:1; width:auto; min-width:0; overflow-wrap:anywhere;}
  .reservationWrap .reservationCompleteBox .commonLeftBox .reservationTimeInfo{flex-wrap:wrap;}

}

@media (max-width: 576px){
  
  .reservationWrap .equipmentDetailInfo{padding: 30px 20px; flex-direction: column; text-align: center;}
  .reservationWrap .equipmentDetailInfo .equipmentName{font-size: 22px;}
  .reservationWrap .equipmentDetailInfo .nameEn{font-size: 16px;}

  .reservationWrap .reservationDetailTableWrap{padding: 30px 20px;}
  .reservationWrap .reservationDetailSection  .equipmentDetailTable tr{grid-template-columns:100px 1fr;}
  .reservationWrap .reservationDetailSection  .equipmentDetailTable th,
  .reservationWrap .reservationDetailSection  .equipmentDetailTable td{font-size:14px;}

}

@media (max-width: 480px){

  .reservationWrap .reservationApplyBox .sampleRadioGroup{width: 100%;    grid-template-columns: 1fr;}
  
  .reservationWrap .reservationCompleteBox .reservationInfoList{margin-bottom:20px; padding-bottom:20px;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem{padding:8px 0;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem dt{width:110px; padding-right:10px; box-sizing:border-box; line-height:1.5; word-break:keep-all;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem dd{line-height:1.5;}
  .reservationWrap .reservationCompleteBox .reservationInfoItem .nameEn{display:block;}
  .reservationWrap .reservationCompleteBox .commonLeftBox .reservationTimeInfo{gap:6px;}

}

/* 강원첨단연구지원센터 - 예약 */
.reservationWrap .reservationDetailBox .commonBorderBox{margin-bottom: 30px;}
.reservationWrap .reservationDetailBox .commonBorderBox:last-child{margin-bottom: 0;}
.reservationWrap .reservationDetailBox .equipmentDetailInfo .equipmentDepartment.karc{background-color: #A239F2;}
.reservationWrap .reservationDetailBox .reservationDetailTableType02 thead tr th{padding: 4px 10px;
    font-size: 14px; color: #333; font-weight: 400; border: 1px solid #ccc; border-width: 1px 1px 0 0;}
.reservationWrap .reservationDetailBox .reservationDetailTableType02 thead tr:first-child th:last-child {
    border-right: 0;}
.reservationWrap .reservationDetailBox .reservationDetailTableType02 tbody td{padding: 4px 10px; text-align: center; border: 1px solid #ccc;}
.reservationWrap .reservationDetailBox .reservationDetailTableType02 tbody tr td:first-child{border-left: 0;}
.reservationWrap .reservationDetailBox .reservationDetailTableType02 tbody tr td:last-child{border-right: 0;}
.reservationWrap .reservationDetailBox .equipmentDetailInfoTitle{margin-bottom: 10px; font-weight: 700; font-size: 16px;}
.reservationWrap .reservationDetailBox .dotList li{font-size: 14px;}
.reservationWrap .equipmentDetailFileSection{background-color: #F7F8F9; border: 1px solid #eee; border-radius: 20px; padding: 24px;} 
.boardViewFileBox{display: flex; align-items: flex-start;}
.boardViewFileTitle{ margin-right: 35px; font-weight: 700; color: #333; font-size: 16px;}
.boardViewFileList li{margin-bottom:10px;}
.boardViewFileList li:last-child{margin-bottom: 0;}
.boardViewFileList li a{display: flex; text-decoration: underline;}
.boardViewFileList li a .boardViewFileIcon{margin: 3px 0; flex-shrink: 0; width: 18px; height: 14px; margin-right: 6px; background: url(../images/sub/file_icon.svg)no-repeat center / contain;}
.boardViewFileList li a .boardViewFileName{font-size: 14px; color: #333;}
.reservationWrap .reservationTimeInfoTitBox .equipmentDepartment.karc{background-color: #A139F1;}

@media (max-width: 480px){

  .boardViewFileBox{flex-direction: column; gap: 10px 0;}

}

/* 공통 - 회원페이지  */
.memberWrap .memberBox{position: relative; z-index: 1; }
.memberWrap .memberBox::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: -100%; right: -100%; height: 711px; background: linear-gradient(
        180deg,
        #fff 0%,
        #e8ebed 50%,
        #fff 100%
    );
 z-index: -1;}
.memberWrap .container{max-width: 940px;}
.memberWrap #headerWrap{box-shadow: 0 10px 10px rgba(0,0,0,.1);}
.memberWrap #subContentWrap .subContentHeaderBox{position: relative; margin-bottom: 70px; z-index: 9;}
.memberWrap #subContentWrap .subContentHeader h2{color: #1D439C;}
.memberWrap #subContentWrap .subContentHeader{margin-bottom: 60px;}
.memberWrap .commonBtnBox{margin: 60px 0;}
.memberWrap .commonBtnBox .commonBtn{max-width: 360px;}
.memberWrap #footerWrap{position: relative; z-index: 9;}

/* 회원가입 - 약관동의 */
.memberJoinAgreeBox .memberAgreeInfoBox .memberAgreeTopBox{margin-bottom: 24px; display: flex; gap: 20px; align-items: center; justify-content: space-between;}
.memberJoinAgreeBox .memberAgreeInfoBox .commonShadowBox{margin-bottom: 50px;}
.memberJoinAgreeBox .memberAgreeInfoBox .commonTitle{margin-bottom: 0;}
.memberJoinAgreeBox .memberAllAgreeBox{display: flex; justify-content: flex-end;}
.policyContent .policySection,
.policyContent .policySection .policyTitle,
.policyContent .policySection .policySubTitle,
.policyContent .policySection .policyText,
.policyContent .policySection .policyList li,
.policyContent .policySection strong{color: #333; font-size: 14px; font-weight: 400;}
.policyContent .policySection .policyTitle{margin-bottom: 10px;}
.policyContent .policySection .policyArticle{margin-bottom: 20px;}
.policyContent .policySection .policyList{margin: 10px 0;}
  
/* 회원가입 - 정보입력 */
.memberJoinFormBox .formBox .emailConsentText{margin-bottom: 10px; padding: 10px 20px; border: 1px solid #CFE8FB; border-radius: 10px; background-color: #F8FCFF; color: #1D439C; font-weight: 500; font-size: 14px;}
.memberJoinFormBox .dateInput{background: #f4f4f4 url(../images/sub/claendar_icon.svg) no-repeat right 20px center;}
.formBox legend{margin-bottom: 8px; font-size: 14px; color: #333;}
.formBox .formRadioRowBox{display: flex; gap: 10px;}
.formBox input[type="radio"] + label{margin: 0; display: flex; align-items: center; justify-content: center; width: 140px; height: 40px; font-size: 14px; color: #333; border: 1px solid #cccc; border-radius: 10px; cursor: pointer;}
.formBox input[type="radio"]:checked + label{background-color: #1D439C; color: #fff; border-color: #1D439C;}


@media (max-width: 480px){

 .formBox .formRadioRowBox{flex-direction: column;}
 .formBox input[type="radio"] + label{width: 100%;}

}

/* 로그인 */
.memberLoginBox .commonShadowBox{padding: 80px 20px 40px;}
.memberLoginBox .memberLoginContentBox{max-width: 420px; margin: 0 auto;}
.memberLoginBox .memberLoginTopBox{margin-bottom: 50px; text-align: center;}
.memberLoginBox .memberLoginTopBox h3{font-size: 32px; font-weight: 700; font-family: "HD", sans-serif; color: #1D439C; word-break: keep-all;}
.memberLoginBox .memberLoginTopBox span{display: block; font-weight: 500; font-family: "HD", sans-serif; color: #BBB;}
.memberLoginBox .memberLoginFormBox{margin-bottom: 20px;}
.memberLoginBox .memberLoginFormBox .inputTextBox{margin-bottom: 14px;}
.memberLoginBox .memberLoginFormBox input{ padding: 0 10px 0 52px; height: 60px;}
.memberLoginBox .memberLoginFormBox input::placeholder{color: #BBBBBB;}
.memberLoginBox .memberLoginFormBox input#id{background: #F4F4F4 url(../images/sub/login_icon.svg)no-repeat center left 16px;}
.memberLoginBox .memberLoginFormBox input#password{background: #F4F4F4 url(../images/sub/password_icon.svg)no-repeat center left 14px;}
.memberLoginBox .memberLoginChkBox{display: flex; justify-content: flex-end;}
.memberLoginBox .commonBtnBox{margin: 46px 0 30px; }
.memberLoginBox .memberLoginLinkList{display: flex; align-items: center; justify-content: center;}
.memberLoginBox .memberLoginLinkList li{display: flex; flex-wrap: wrap; align-items: center;}
.memberLoginBox .memberLoginLinkList li::after{content: ""; margin: 0 12px; width: 1px; height: 12px; background: #bbb;}
.memberLoginBox .memberLoginLinkList li:last-child::after{display: none;}
.memberLoginBox .memberLoginLinkList li a{color: #333; font-size: 14px; font-weight: 500;}

@media (max-width: 768px){

  .memberLoginBox .memberLoginTopBox h3{font-size: 28px;}

}

@media (max-width: 480px){

  .memberLoginBox .commonShadowBox{padding: 50px 20px;}
  .memberLoginBox .memberLoginTopBox{margin-bottom: 38px;}
  .memberLoginBox .memberLoginTopBox h3{font-size: 22px;}
  .memberLoginBox .memberLoginTopBox span{font-size: 14px;}
  .memberLoginBox .memberLoginFormBox input{height: 50px; font-size: 14px;}

}